autoflake~=1.4
black>=21.11b1
bump2version~=1.0.1
# web3[tester] requires eth_account < 0.6.0
eth-account<0.6.0
isort>=5.10.1
mypy>=0.910
pytest>=5.3.2
setuptools>=44.0.0
twine>=3.1.1
web3[tester]~=5.28.0
wheel>=0.33.6
